<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <!-- users edit start -->
    <section class="app-user-edit">
      <div class="card">
        <div class="card-body">
          <ul ngbNav #nav="ngbNav" class="nav nav-pills">
            <li ngbNavItem>
              <a ngbNavLink class="d-flex align-items-center"><i data-feather="user" class="mr-sm-50"></i><span
                  class="d-none d-sm-block">Account</span></a>
              <ng-template ngbNavContent>
                <!-- Account Tab starts -->
                <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                  <!-- users edit media object start -->
                  <div class="media mb-2">
                    <div>
                      <img class="user-avatar users-avatar-shadow rounded mr-2 my-25 cursor-pointer"
                        src="assets/images/avatars/10.png" height="90" width="90" alt="User avatar" />
                    </div>
                    <ng-template #customAvatar>
                      <div class="mr-1 ml-0" [ngClass]="{
                            'bg-light-success': currentRow.status == 'active',
                            'bg-light-secondary': currentRow.status == 'inactive',
                            'bg-light-warning': currentRow.status == 'pending'
                          }">
                        <div class="rounded p-3"></div>
                      </div>
                    </ng-template>
                    <div class="media-body mt-50">
                      <h4>{{userItem.first_name +' '+ userItem.last_name}}</h4>
                    </div>
                  </div>
                  <!-- users edit account form start -->
                  <form [formGroup]="UserDetailsForm" class="form-validate" (ngSubmit)="DetailsForm()">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="firstname">First Name</label>
                          <input type="text" id="firstname" class="form-control" placeholder="First Name"
                            formControlName="first_name" [ngClass]="{
                                'is-invalid': UserDetailsForm.controls.first_name.invalid &&
                                  UserDetailsForm.controls.first_name.dirty
                              }" />
                          <div class="invalid-feedback">

                            First Name is required

                          </div>

                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="lastname">Last Name</label>
                          <input type="text" id="lastname" class="form-control" placeholder="Last Name"
                            formControlName="last_name" />
                          <!-- <div class="invalid-feedback">
                            <p *ngIf="UserDetailsForm.controls.last_name.errors?.required">
                              Last Name is required
                            </p>
                          </div> -->
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">E-mail</label>
                          <input type="email" id="email" class="form-control" placeholder="Email"
                            formControlName="email" [ngClass]="{
                                'is-invalid': UserDetailsForm.controls.email.invalid &&
                                  UserDetailsForm.controls.email.dirty
                              }" />
                          <div class="invalid-feedback">
                            <p *ngIf="UserDetailsForm.controls.email.errors?.required">
                              Email is required
                            </p>
                            <p *ngIf="UserDetailsForm.controls.email.errors?.pattern">
                              Email is not valid
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="mobile">Mobile</label>
                          <input type="number" class="form-control" id="mobile" placeholder="Mobile"
                            formControlName="mobile" [ngClass]="{
                                  'is-invalid': UserDetailsForm.controls.mobile.invalid &&
                                    UserDetailsForm.controls.mobile.dirty
                                }" />
                          <div class="invalid-feedback">
                            <p *ngIf="UserDetailsForm.controls.mobile.errors?.required">
                              Mobile is required
                            </p>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="role">Role</label>
                          <input type="text" class="form-control" id="role"
                          [attr.disabled]="true"
                           placeholder="Role" formControlName="role" />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="status">Status</label>
                          <select class="form-control" formControlName="status" id="status">
                            <option [ngValue]="true">active</option>
                            <option [ngValue]="false">inactive</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="status">Is Admin</label>
                          <select class="form-control" formControlName="is_admin" id="is_admin">
                            <option [ngValue]="true">True</option>
                            <option [ngValue]="false">False</option>
                          </select>
                        </div>
                      </div>


                      <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                        <button type="submit" class="btn btn-dark mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>
                          Save Changes
                        </button>
                        <button type="button" (click)="reset()
                        " class="btn btn-outline-dark mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>
                        Cancel
                      </button>
                      </div>
                    </div>
                  </form>
                  <!-- users edit account form ends -->
                </div>
                <!-- Account Tab ends -->
              </ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink class="d-flex align-items-center">
                <i data-feather="map-pin" class="mr-sm-50"></i><span class="d-none d-sm-block">Address</span></a>
              <ng-template ngbNavContent>
                <!-- Information Tab starts -->
                <div class="tab-pane" id="information" aria-labelledby="information-tab" role="tabpanel">
                  <!-- users edit Info form start  -->
                  <form [formGroup]="UserAddressForm" class="form-validate" (ngSubmit)="AddressFormSubmit()">

                    <div class="row mt-1" *ngFor=" let address of userAddress; index as i">


                      <div class="col-12">
                        <h4 class="mb-1 mt-2">
                          <i data-feather="map-pin" [size]="16" class="mr-75 font-medium-4"></i>
                          <span class="align-middle">Address {{i+1}}</span>
                        </h4>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label for="street{{i}}">Street</label>
                          <input id="street{{i}}" type="text" class="form-control" placeholder="Street"
                            formControlName="street" [ngClass]="{
                                'is-invalid': UserAddressForm.controls.street.invalid &&
                                  UserAddressForm.controls.street.dirty
                              }" />
                          <div class="invalid-feedback">
                            <p *ngIf="UserAddressForm.controls.street.errors?.required">
                              Street is required
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label for="city{{i}}">city</label>
                          <input id="city{{i}}" type="text" class="form-control" placeholder="City"
                            formControlName="city" [ngClass]="{
                                'is-invalid': UserAddressForm.controls.city.invalid &&
                                  UserAddressForm.controls.city.dirty
                              }" />
                          <div class="invalid-feedback">
                            <p *ngIf="UserAddressForm.controls.city.errors?.required">
                              City is required
                            </p>
                          </div>


                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label for="zipcode{{i}}">Zip Code</label>
                          <input id="zipcode{{i}}" type="text" class="form-control" placeholder="Zip Code"
                            formControlName="zip_code" [ngClass]="{
                                'is-invalid': UserAddressForm.controls.zip_code.invalid &&
                                  UserAddressForm.controls.zip_code.dirty
                              }" />
                          <div class="invalid-feedback">
                            <p *ngIf="UserAddressForm.controls.zip_code.errors?.required">
                              Zip Code is required
                            </p>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label for="state{{i}}">State</label>
                          <input id="state{{i}}" type="text" class="form-control" placeholder="State"
                            formControlName="state"
                            [ngClass]="{ 'is-invalid': UserAddressForm.controls.state.invalid &&UserAddressForm.controls.state.dirty}" />
                          <div class="invalid-feedback">
                            <p *ngIf="UserAddressForm.controls.state.errors?.required">
                              State is required
                            </p>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <label for="country{{i}}">Country</label>
                          <input id="country{{i}}" type="text" class="form-control" placeholder="Country"
                            formControlName="country" [ngClass]="{
                                'is-invalid': UserAddressForm.controls.country.invalid &&
                                  UserAddressForm.controls.country.dirty
                              }" />
                          <div class="invalid-feedback">
                            <p *ngIf="UserAddressForm.controls.country.errors?.required">
                              Country is required
                            </p>
                          </div>
                        </div>
                      </div>
                      <!-- check box -->
                      <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck2" />
                            <label class="custom-control-label" for="customCheck2">Default</label>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div>
                      <button type="submit" class="btn btn-dark mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>
                        Save Changes
                      </button>
                      <button type="button" (click)="reset()
                        " class="btn btn-outline-dark mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>
                        Cancel
                      </button>
                    </div>
                  </form>

                  <!-- users edit Info form ends -->
                </div>
                <!-- Information Tab ends -->
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
      </div>
    </section>
    <!-- users edit ends -->
  </div>
</div>
