<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!-- Basic Alerts start -->
        <section id="sample-page">

            <div class="card">
                <div class="row">
                    <div class="col-12 mb-50 ">
                        <button class="btn btn-primary ml-2 mt-2" (click)="openModalForm(modalForm,null)">
                            <span class="d-sm-inline-block">Add Nutrient</span>
                        </button>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="d-flex justify-content-between align-items-center m-1">
                            <label class="d-flex align-items-center">Show
                                <select class="form-control mx-25" [(ngModel)]="basicSelectedOption">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                entries</label>
                        </div>
                    </div>

                </div>
                <ngx-datatable
                        class="bootstrap core-bootstrap"
                        [rows]="nutrients"
                        [rowHeight]="50"
                        [columnMode]="ColumnMode.flex"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [limit]="basicSelectedOption"
                >
                    <ngx-datatable-column name="NAME" prop="name" [flexGrow]="3"></ngx-datatable-column>
                    <ngx-datatable-column name="Actions" [width]="40" [sortable]="false" [flexGrow]="1">
                        <ng-template let-row="row" let-column="column" ngx-datatable-cell-template>
                            <a (click)="openModalForm(modalForm,row)" href="javascript:void(0);">
                                <i data-feather="edit" class="mr-50"></i>
                            </a>
                            <a href="javascript:void(0);" [swal]="SweetAlertConfirmText">
                                <i data-feather="trash-2" class="mr-50"></i>
                            </a>
                            <swal #SweetAlertConfirmText (open)="deleteNutrient(row._id)"></swal>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>

                <ng-template #modalForm let-modal>
                    <div class="modal-header">
                        <button type="button" class="close" (click)="modal.dismiss('Cross click');reset()"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" tabindex="0" ngbAutofocus>
                        <form [formGroup]="nutrientForm" class="form-validate" (ngSubmit)="nutrientFormSubmit()">

                            <div class="form-group">
                                <label for="nutrientName">Nutrient Name</label>
                                <input type="text" id="nutrientName" class="form-control"
                                       placeholder="Nutrient Name" formControlName="name" required [ngClass]="{ 'is-invalid': nutrientForm.controls.name.invalid && nutrientForm.controls.name.touched
                                    }"/>
                                <div class="invalid-feedback">
                                    <p *ngIf="nutrientForm.controls.name.errors?.required">
                                        Name is required
                                    </p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button [disabled]="!nutrientForm.valid" type="submit"
                                        class="btn btn-primary mr-1">
                                    Submit
                                </button>
                                <button type="button" (click)="modal.dismiss('Cross click'); reset()"
                                        class="btn btn-secondary">
                                    Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </ng-template>
            </div>
        </section>
    </div>
</div>
